{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEEDBACKS</title>
    <link rel="stylesheet" href="{% static 'css/complaints.css' %}">
</head>
<body>
   <div><h1>FEEDBACKS</h1>
    <a href="{% url 'Userfeedback' %}"> <button class="btn">USER FEEDBACK</button></a>  
    <a href="{% url 'driverfeedback' %}"> <button class="btn">DRIVER FEEDBACK</button></a>       
</div></body>
</html>