{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="{% static 'css/cmp.css' %}">
</head>
<body>
    <div><h2>FEEDBACKS</h2>
        <table>
            <thead>
            <tr>
            <th>Driver ID</th>
            <th>Driver NAME</th>
            <th>FEEDBACKS</th>
            </tr></thead>

            <tbody>
                {% for i in c %}

            <tr>
                <td>{{i.id}}</td>
                <td>{{i.LOGINID.username}}</td>
                <td><a href="#" style="--clr:#1e9bff">
                    <span>CLICK HERE</span><i></i></a></td>{% endfor %}

            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>