{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <div class="img">
        <img src="img\profile2.jpg">
       <div class="h"><h2>DRIVER NAME:</h2>
        <h2>ID:DRIVER007</h2>
        <h5>TOTAL RIDES:</h5></div>
        
      </div>
       
    
     
      <div class="table"><table>
        <thead>
            <tr>
                <td>DATES</td>
                <td>SOURCE</td>
                <td>DESTINATION</td>
                <td>AMOUNT</td>
                </tr>
        </thead>
    
        <tbody>
            <tr>
                <td>dd/mm/yy</td>
                <td>pickup</td>
                <td>drop</td>
                <td>inr</td>
            </tr>
        </tbody>
      </table></div>
    </body>
    </html>
    
</body>
</html>