{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'css/driver.css' %}">
    <title>Drivers</title>
</head>
<body>
    <div><h2>DRIVERS</h2>
    <table>
     
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DRIVER DETAILS</th>

        </tr>
    </thead>

    <tbody>
        <tr>
        <td>001</td>
        <td>DRIVER NAME</td>
        <td> <a href="#" style="--clr:#1e9bff">
            <span>CLICK HERE</span><i></i></a></td>
        </tr>
    </tbody>
    </table>
</div>
    
</body>
</html>