{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    
    <div class="head">
       <h1>PEXI</h1>
        </div>
        <div class="wrapper">
        <div class="navbar">
            <button id="btn"><a href="/users/">USERS</a></button>
           <button id="btn"> <a href="/drivers/">DRIVERS</a></button>
           <button id="btn"><a href="/display/">COMPLAINTS</a></button>
           <button id="btn"><a href="/AllFeedback/">FEEDBACKS</a></button>
           <button id="btn"><a href="">LOG OUT</a></button>
        </div>
        
        <div class="card">
            <div class="view"><p>TOTAL RIDES</p></div>
            <div class="view"><P>TOTAL DRIVERS</P></div>
            <div class="view"><P>REVENUE</P></div>
            <div class="view"><P>CANCELLED RIDES</P></div>
        </div></div>
            
</body>
</html>