{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
 <form class="card" method="post">
    {% csrf_token %}
    <div>
    <h1>PEXI</h1>
    </div>
    <div>
        <i class="fa-regular fa-user fa-lg"></i>
        <label for="username">ADMIN ID</label>
    <input type="text" placeholder="Enter your ID"name="username">
    </div>
    <div>
        <i class="fa-solid fa-lock fa-lg"></i>
    <label for="password">PASSWORD</label>
    <input type="text" placeholder="Enter your password" name="password">
    </div>
    <a href="">Forgot Password</a>
    <input type="submit" id="btn" value="LOGIN">
    Don't have an account?  <a href="">SIGNUP</a>
</form>   
</body>
</html>