{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="{% static 'css/cmp.css' %}">
</head>
<body>
    <div><h2>COMPLAINTS</h2>
        <table>
            <thead>
            <tr>
            <th>USER ID</th>
            <th>COMPLAINTS</th>
            </tr></thead>

            <tbody>
            <tr>
                <td>001</td>
                <td><a href="ucmp2.html" style="--clr:#1e9bff">
                    <span>CLICK HERE</span><i></i></a></td>
            </tr></tbody>
        </table>
    </div>
</body>
</html>