<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER DETAILS</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
  <div class="img">
    <img src="img\profile2.jpg">
   <div class="h"><h2>USERNAME:</h2>
    <h2>ID:USER007</h2></div>
  </div>
   

 
  <div class="table"><table>
    <thead>
        <tr>
            <td>DATES</td>
            <td>SOURCE</td>
            <td>DESTINATION</td>
            <td>AMOUNT</td>
            </tr>
    </thead>

    <tbody>
        <tr>
            <td>dd/mm/yy</td>
            <td>pickup</td>
            <td>drop</td>
            <td>inr</td>
        </tr>
        <tr>
          <td>dd/mm/yy</td>
          <td>pickup</td>
          <td>drop</td>
          <td>inr</td>
        </tr>
    </tbody>
  </table></div>
</body>
</html>