*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}body{
    display:flex ;
    justify-content: center;
    height: 100vh;
    align-items:center;
    background-image:url(img/pexi2.jpg);
    background-size: cover;
    background-position: center;
   
}

input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 6px;
    background-color: white;
    border: none;
    cursor: pointer;

}
.card{
    border: 3px solid whitesmoke;
    padding: 80px;
    border-radius: 100px;
    backdrop-filter: blur(2px);
    background-color: whitesmoke;

    }
     h1{
        text-align: center;
        margin-bottom: 20px;
        color:black;
        
    
    
    }
    #btn{
        padding: 10px;
        background-color:transparent;
        margin-top: 5%;
        transition: 0.5s ease;
        border: 3px solid;
        border-radius: 20px;

    
    
    }
    #btn:hover{
        background-color:orange;
    }

input::placeholder{
    color:gray;
}
input:focus{
    outline: none;
}